/* Time to make magic. Kanye style. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Fill in the white space around the transformed images */
  background-color: black;
  font-family: 'Indie Flower', cursive;
}

/* begin styling footer  */
.social-media {
  display: flex;
  justify-content: center;
  background-color: black;
}

.social-media img {
  margin: 10px 20px;
  border-radius: 5px;
}
.disc {
  background-color: #D9AE04;
  height: 48px;
}

.social-media > ul > a {
  height: 0px;
  text-decoration: none;
}

/* begin styling header */
.navbar--ul {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin: 10px; */
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
}

.navbar--ul > li {
  display: inline-block;
  text-shadow: 1px 1px #d9ae04;
}

.header {
  background-color: #303030;
}

.ye {
  font-size: 200%;
}

.navbar--ul > li > a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar--ul > li > a:visited {
  color: whitesmoke;
  text-decoration: none;
}