.container--secondary {
    display: flex;
    height: calc(100vh - 152px);
  }
  
  .secondary-content {
    display: flex;
    flex-basis: 65%;
    color: whitesmoke;
    overflow-y: auto;
    overflow-x: hidden;
    flex-flow: row wrap;
    font-family: 'Catamaran';
    font-size: 22px;
  }

  /* Section underlines */
  h1 {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 2.5px;
    font-size: 1.17em;
  }
  
  /* Spacing of list items */
  ul > li {
    padding-top: 7.5px;
  }

  div > h5 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

  /* Hides Bipolar easter egg link on "Who is Kanye West"*/
  a {
    color: whitesmoke;
    text-decoration: none;
  }

  .careerinfo--intro {
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    align-items: center;
    height: auto;
  }

  .careerinfo--skills {
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;
    align-items: center;
  }

  .careerinfo--skills > ul {
    list-style-type: none;
  }

  .careerinfo--awards {
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 50%;
    align-items: center;
  }      
  
  .careerinfo--awards > ul {
    list-style-type: none;
  }

  .careerinfo--discography {
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    }

  .careerinfo--places-lived {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    align-items: center;
    }

  .places-lived-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .places-lived-list > ul {
    list-style-type: none;
  }

  /* Creates two columns in Places Lived */
  .places-lived-list > ul:last-child {
    padding-left: 300px;
  }

  .left-bg {
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;

    background: url(/images/career-bg.jpg);

    /* Image is adjusted on X access to center Ye */
    background-position: -500px center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
        the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    height: 100%;
    flex-basis: 17.5%;
  }
  
  .right-bg {
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;

    background: url(/images/career-bg.jpg);

    /* Image is centered horizontally and vertically at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
        the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    height: 100%;
    flex-basis: 17.5%;
  }