/* -------------------- begin parallax styling -------------------- */
.container {
  /* The height needs to be a fixed value. 100vh full height. */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* Set the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* relative position needed for image text */
  position: relative;
  height: 100vh;
  /* Format content in sections (really just the content div) */
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position backgrounds */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the background image away,
   * then scale it back up to fill the viewport.
   * Because the ::after is farther away, it appears to move more slowly */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
    /* NOTE: may consider cover instead of 100% - Brendan */
  background-size: 100%;
  background-repeat: no-repeat;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.bg1::after {
  background-image: url('../images/Kanye-West-backgrounds-4k.jpg');
}

.bg2::after {
  background-image: url('../images/kanye-west-black-suit5.jpg');
}

/* The styling for the static div. */
.static {
  background: black;
}

/* -------------------- end parallax styling -------------------- */

.container--content {
  flex-basis: 75%;
  height: 100%;
}

.container--content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container--content > .portrait {
  /* width required to prevent image from scaling exorbitantly */
  flex-basis: 40.26%;
}

.portrait > h1 {
  font-family: 'Catamaran', 'Arial', sans-serif;
  font-size: 30px;
}

.container--content > .portrait > img {
  /* this image has an inline css style for max-width */
  width: 100%;
  border-radius: 5px;
}

.container--content figcaption {
  font-family: 'Catamaran', 'Arial', sans-serif;
  font-size: 25px;
  font-style: italic;
}

.collaborators {
  font-family: 'Catamaran', 'Arial', sans-serif;
  font-size: 22px;
  padding-left: 20px;
}

.aliases {
  font-family: 'Catamaran', 'Arial', sans-serif;
  font-size: 22px;
  padding-left: 20px;
}

.collaborators > ul > li:first-child, .aliases > ul > li:first-child {
  padding-top: 7.5px;
}

.collaborators > ul, .aliases > ul {
  list-style-type: none;
}

.collaborators > h1, .aliases > h1 {
  border-bottom: 1px solid white;
  padding-bottom: 2.5px;
}

/* custom footer styling */
.social-media {
  /* position footer to bottom of home page */
  position: relative;
  top: 100px;
}