.container--secondary {
    display: flex;
    height: calc(100vh - 152px);
  }
  
  .secondary-content {
    display: flex;
    flex-basis: 65%;
    color: white;
    font-family: 'Catamaran';
    overflow: hidden;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  
  .left-bg {
      /* Pick a solid background color that will be displayed while the background image is loading */
      background-color: #464646;
  
      background: url(/images/personal-back2.jpg);
    
      /* Image is centered horizontally and vertically at all times */
      background-position: center center;
      
      /* Image doesn't repeat */
      background-repeat: no-repeat;
      
      /* Makes the image fixed in the viewport so that it doesn't move when 
         the content height is greater than the image height */
      background-attachment: fixed;
      
      /* This is what makes the background image rescale based on its container's size */
      background-size: cover;
      
      height: 100%;
      flex-basis: 17.5%;
  }
  
  .right-bg {
      /* Pick a solid background color that will be displayed while the background image is loading */
      background-color: #464646;
  
      background: url(/images/personal-back2.jpg);
    
      /* Image is centered horizontally and vertically at all times */
      background-position: center center;
      
      /* Image doesn't repeat */
      background-repeat: no-repeat;
      
      /* Makes the image fixed in the viewport so that it doesn't move when 
         the content height is greater than the image height */
      background-attachment: fixed;
      
      /* This is what makes the background image rescale based on its container's size */
      background-size: cover;
      
      height: 100%;
      flex-basis: 17.5%;
  }

.content-div-1 {
    margin: 15px;
}

.content-div-2 {
    margin: 15px;
}

.image-container {
    height: auto;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo1, .photo2, .photo3, .photo4 {
    flex-basis: 75%;
}

.photo1 {
    /* height: 350px; */
}

.image-container img {
    width: 100%;
    padding: 10px;
    display: block;
}